.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    align-items: center;
    gap: 10px;

    .right {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .profile {
        border: none;
        outline: none;
        background: none;
        font-size: 20px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
