.container {
    display: flex;
    width: 100%;
    height: 100vh;

    .subcontainer {
        position: relative;
        flex-grow: 1;

        div.text-input-container {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1000;
            pointer-events: none;

            ::ng-deep & > * {
                pointer-events: auto;
            }
        }

        .canvas-container {
            width: 100%;
            height: 100%;
            position: relative;

            canvas {
                display: block;
                width: 100%;
                height: calc(100% - 0%);
            }
        }
    }
}
