.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .settings {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
