<div class="container">
    <h2>Help</h2>
    <p>
        Welcome to the ChartFlow! This software application has been developed
        as part of my final year project at BSUIR. The project aims to provide a
        comprehensive and user-friendly solution for creating diagrams and
        schemas with the versatility of custom extensions.
    </p>

    <h2>About the Developer</h2>

    <p>
        My name is Kirill Guydo, and I am currently a final year student at
        BSUIR. This project represents a significant milestone in my academic
        journey, combining theoretical knowledge and practical skills to develop
        a tool aimed at enhancing diagram and schema creation processes.
    </p>

    <p class="mt-2">Kirill Guydo, BSUIR, POIT, 2024</p>
</div>
