.container {
    width: 300px;
    height: 300px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > * {
            width: 100%;
        }
    }
}
