.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .description {
        text-align: center;
        font-size: 17pt;
    }

    .install-button {
        width: 100px;
    }

    .comments {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .comment-form {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .form-element {
            flex: 1;
        }

        .rating {
            flex: 0 0 200px;
        }

        button {
            height: 56px;
        }

        ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            height: 0;
        }

        .comment-card {
            display: flex;
            padding: 16px;
            margin-bottom: 16px;
            align-items: center;
            justify-content: space-between;
        }

        .comment-body {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .comment-content {
            flex-grow: 1;
        }

        .comment-text {
            font-size: 1.2em;
            margin-bottom: 8px;
        }

        .comment-footer {
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
            color: gray;
        }

        .comment-rating {
            font-size: 2em;
            color: #ff9800;
            flex-shrink: 0;
            margin-left: 16px;
        }
    }
}
