.container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: hidden;

    justify-content: center;

    h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error {
        color: red;
    }

    & > * {
        padding: 10px;
    }

    .changeTypeButton {
        margin-top: 10px;
        text-decoration: underline;
        color: #5280ff;
        cursor: pointer;
    }
}
