<div class="menu-container">
    @for (menuItem of groups(); track menuItem) {
        <button mat-button [matMenuTriggerFor]="menuRef">
            {{ menuItem.name }}
        </button>
        <mat-menu #menuRef="matMenu">
            @for (action of menuItem.actions; track action) {
                <button
                    mat-menu-item
                    (click)="action.execute()"
                    [disabled]="(action.canExecute$ | async) === false"
                >
                    <span>{{ action.name }}</span>
                </button>
            }
        </mat-menu>
    }
</div>
