<div class="container">
    <div class="elements" [class.with-ads]="showAds()">
        @for (element of elements(); track $index) {
            @if (element.figures.length > 0) {
                <h2>{{ element.pluginName }}</h2>
                @for (figure of element.figures; track $index) {
                    <app-canvas-sidebar-element
                        [text]="figure.name"
                        [figureCreator]="figure.factory"
                    />
                }
            }
        }
    </div>

    @if (showAds()) {
        <div class="ads">
            <app-ads></app-ads>
        </div>
    }
</div>
