.container {
    width: 100%;
    padding: 20px 10px;
    background-color: #eee;
    border-radius: 10px;
    border: #888 2px solid;

    text-align: center;

    transition: all .3s;

    &:hover {
        background-color: #ddd;
        cursor: pointer;

        transition: all .3s;
    }

    &:active {
        background-color: #444;
        cursor: pointer;

        transition: all .3s;
    }
}
