.container {
    width: calc(80vw - 30px);
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    gap: 10px;
    box-sizing: content-box;

    padding: 10px;
    overflow-x: hidden;

    & > h2 {
        text-align: center;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & > * {
        box-sizing: border-box;
        width: 100%;
    }

    .back-button {
        width: 200px;
    }
}
